<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/parrot1.png" rel="icon">

  <title>Projects</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Projects</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work.html" title="" >001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title=""class="active">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/pjm1.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">003 : PJMAPP</h1>
          </div>
          <p style="font-size: 18px; line-height: 1.6 ;text-align: justify;"> <p> "PJMAPP" is a polish sign language learning app that enables users to learn basic gestures and expressions of sign language. In addition to interactive sign language lessons, the app also offers quiz learning functionality to test the user's knowledge.
        </p></p>
          <div class="text-center">
            <h2>Tools Used : </h2>
        </div>
        <ul>
            <li>Frontend: Expo, React Native</li>
            <li>Backend: Firebase</li>
        </ul>
        <div class="text-center">
            <h2>Features : </h2>
        </div>
        <ul>
            <li>Interactive sign language lessons.</li>
            <li>Quiz learning to test knowledge of gestures.</li>
            <li>Dictionary of sign language gestures with descriptions.</li>
        </ul>
    </div>
        
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
            <div class="col-xs-12 col-md-6">
            </div>
            <div class="col-xs-12 col-md-6 move-right">
                <p></p>
            </div>
        </div>
    </div>
    

    <div class="col-xs-12 text-center">
      <img src="./static/assets/images/youtube-video-gif.gif" style="width: 100%; max-width: 800px;" alt="Your GIF">
      <div class="col-xs-12 col-md-6">
        <p></p>
      </div>
    </div>
    
    
      <p class="move-right"></p>
    </div>
    
      <div class="text-center">
        <h2>View project on GitHub</h2>
        <div class="github-link">
          <a href="https://github.com/BCiucka/Pazig-AplikacjaJezykMigowy" title="View project on GitHub" class="fa-icon">
              <i class="fa fa-github fa-3x"></i> 
          </a>
      </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>